@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backdrop-blur-xs {
    backdrop-filter: blur(7px);
  }
  
  .backdrop-blur-2xs {
    backdrop-filter: blur(1px);
  }
  
  .backdrop-blur-minimal {
    backdrop-filter: blur(0.5px);
  }
}


@layer base {
  :root {
    --background: 300 55.9% 95%;
    --foreground: 300 80% 10%;

    --card: 300 30% 80%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 300 19% 53%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 120 26% 66%;
    --secondary-foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 300 30% 30%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 300 45.9% 85%;

    --input: 300 45.9% 75%;

    --ring: 300, 9%, 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 16.5% 15.1%;
    --foreground: 120 80% 97%;

    --card: 120 9% 35%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 120 15% 50%;
    --primary-foreground: 120 30% 10%;

    --secondary: 300 26% 66%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 5.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 120 20% 60%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;

    --input: 120 16.5% 25.1%;

    --ring: 120 20.2% 28.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  .talking-logo a {
    @apply text-accent underline;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply font-extrabold text-4xl;
  }

  h2 {
    @apply font-semibold text-3xl;
  }

  h3 {
    @apply font-medium text-2xl;
  }

  h4 {
    @apply font-normal text-xl;
  }

  h5 {
    @apply font-normal text-lg;
  }

  h6 {
    @apply font-light text-base;
  }

  strong {
    @apply font-extrabold;
  }

  li {
    @apply list-disc list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }

  input,
  textarea {
    @apply bg-input;
  }

  .markdown a {
    @apply text-secondary underline;
  }

  .glassPanel {
    @apply text-lg backdrop-blur-xs p-2 rounded bg-card/20
  }

  .markdown a {
    @apply text-accent underline;
  }
}